@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap');

:root {
    --cor0: #EFF7CF;
    --cor1: #BAD9B5;
    --cor2: #AB8C89;
    --cor3: #732C2C;
    --cor4: #420C14;
    

}

body {
    background-color: black;
    background-size: contain;
    background-attachment: fixed;
    margin-top: 0;
}

/*  ================================================================
    ========================== HEADER ===========================
    ================================================================ */

#nome {
    font-family: var(--font-lora);
    font-size: 35px;
}

a {
    text-decoration: none;
    margin-left: 10px;
}

#linkedin:hover {
    background-color: rgb(199, 12, 12);
    color: white;
    transition: 0.5s;
}

.barraNav {
    /* position: sticky; */
    /* top: 0; */
    display: flex;
    overflow: auto;
    height: 80%;
    padding: 0px;
}

.photoPerfil>div>img {
    padding: 0;
    width: 45px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.navegacao {
    width: 100%;
    /* border: 4px solid black; */
}

.navbar {
    /* border: 1px solid red; */
    margin-right: 0;
}

/*  ================================================================
    ============================ BODY ==============================
    ================================================================ */

/* ======================== SECTION ======================== */
section {
    /* border: 1px solid black; */
    margin: 40px 6px 6px 6px;
    position: static;
    overflow: hidden;
    padding: 10px;
    box-shadow: 1px 1px 7px black;
    border-radius: 0.5%;
}

.paginaInicial {
    height: 87vh;
}

#hdiv>a>.hdiv2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hdiv>a {
    text-decoration: none;
}

/* ============= HOME SECTION ============= */
#home {
    background-image: url("../images/fundo.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#home>h1 {
    text-align: center;
    padding: 10px;
}

#home>#hdiv>a>.hdiv2 {
    /* border: 1px solid black; */
    background-image: linear-gradient(rgba(14, 119, 200, 0.873), rgba(175, 138, 18, 0.801));
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.449);
    border-radius: 3%;
    padding: 20px;
    margin: 15px;
    min-width: 230px;
    min-height: 90px;
}

#home>#hdiv>a>.hdiv2:hover {
    cursor: pointer;
    transition: 2s;
    background-image: radial-gradient(rgba(14, 119, 200, 0.873), rgba(175, 138, 18, 0.801));
    color: white;
}

#home>#hdiv {
    /* border: 1px solid black; */
    margin-top: 5px;
    text-align: center;
}

#home>div>h3 {
    width: auto;
    text-align: center;
    font-family: 'Arima', cursive;
    font-weight: bolder;
}

/* ============= OTHERS SECTION ============= */

/*  ================================================================
    ============================ FOOTER ============================
    ================================================================ */


/* ============================== MEDIA ============================== */
@media screen and (max-width: 576px) {

    /*  ====================================================
    ====================== HEADER MEDIA=====================
    ======================================================== */
    

    /*  ====================================================
    ======================= BODY MEDIA =====================
    ======================================================== */
    section {
        /* border: 1px solid black; */
        margin: 40px 6px 6px 6px;
        position: static;
        overflow: hidden;
        padding: 10px;
    }

    /*  ====================================================
    ====================== FOOTER MEDIA ====================
    ======================================================== */

}